.profile-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #dfe9f3, #ffffff);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #555;
    padding: 20px;
  }
  
  .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    max-width: 600px;
  }




   .github-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #24292e;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .github-button:hover {
    background-color: #0366d6;
  }
  